@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

            @if (isAuthenticated)
            {
                <span>Bonjour, @userLogin</span>
                <NavLink class="nav-link" href="account-logout">
                    Se déconnecter
                </NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="account-login">
                    Se connecter
                </NavLink>
            }

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>



@code {

    private bool isAuthenticated;
    private string userLogin = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;

        if (isAuthenticated)
            userLogin = authState.User.Identity?.Name ?? string.Empty;


    }
}